
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     
</head>
<body>
   
     <form action="/account/admin" method="POST">
        <h1 >Quan Ly San Pham </h1>
        <h3>ten sp </h3>
        <input type="text" name="tensp"placeholder="ten sp"/></br></br></br></br></br>
        <h3>dac ta</h3>
        <input type="text" name="dacta" placeholder="dac ta"/></br></br></br></br>
        <input type="file" name="file" id="file"/></br></br>
        <button type="submit">Insert</button></br><br>
         </form>
         p #{msg}
    


</body>
</html>